# --------------- client ---------------

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env
/client/package.json

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/client/package-lock.json

# --------------- server ---------------

/server/node_modules
/server/.env
/server/package-lock.json